# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. python
2. R
3. java
4. c++
5. mysql

## Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. pandas
3. Scikit-learn
4. Numpy
5. Scipy

|Data Science Tools |
---------------------
|Jupyter Notebooks  |
|RStudio            |
|Visual Studio Code |
|Spyder             |
|Apache Zeppelin    |

###

### Below are a few examples of evaluating arithmetic expressions in Python.

In [9]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [22]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science, including Python and R
- Explore basic Python syntax and data structures
- Introduce Jupyter Notebook and its features
- Demonstrate how to write and execute code in Jupyter cells
- Provide examples of Markdown formatting in Jupyter Notebook

## Author:
   ***-poornaganesh dasariraju***